<html>
<head>
    <title></title>
    <style>
        .menu {
            display: inline-block;
            background-color:#c31010;
            color:red;
            font-size:22px;
            padding:5px 45px;
            margin:5px;
        }
        .home{
            color:#db16cb;
        }
        .search{
            float:right;
            
        }
    </style>
    
</head>
<body>
    <section id="Menu">
        <div class="menu home" style="color:#808080">Home</div>
        <div class="menu">Women</div>
        <div class="menu">Men</div>
        <div class="menu">Kids</div>
        <div class="menu search">Search</div>
    </section>
    
    <footer>

    </footer>
</body>
</html>